<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DKO CNU add</title>
</head>
<body>
<h2>Add new Animal</h2>

<form th:action="@{/add}" th:object="${animal}" method="post">
    Animal name:<br>
    <input type="text" th:field="*{name}" >
    <br>
    Animal description:<br>
    <input type="text" th:field="*{description}">
    <br><br>
    <input type="submit" value="Save">
</form>
<p>
    <a th:href="@{/}">Back</a>
</p>
</body>
</html>
