<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DKO CNU list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<table border="1">-->
    <!--<tr>-->
        <!--<td>ID</td>-->
        <!--<td>Name</td>-->
        <!--<td>Description</td>-->
    <!--</tr>-->
    <!--<tr th:each="animal : ${animals}">-->
        <!--<td th:text="${animal.id}">Onions</td>-->
        <!--<td th:text="${animal.name}">2.41</td>-->
        <!--<td th:text="${prod.description}"></td>-->
    <!--</tr>-->
<!--</table>-->

<p>
    <a th:href="@{/}">Back</a>
</p>
</body>
</html>
