<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DKO CNU list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
    </tr>
    <tr th:each="animal : ${animals}">
        <td th:text="${animal.id}"> ID </td>
        <td th:text="${animal.name}"> NAME </td>
        <td th:text="${animal.description}"> DESC </td>
    </tr>
</table>

<p>
    <a th:href="@{/}">Back</a>
</p>
</body>
</html>
