<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DKO CNU list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
    </tr>
    <!--<tr th:each="prod : ${prods}">-->
        <!--<td th:text="${prod.name}">Onions</td>-->
        <!--<td th:text="${prod.price}">2.41</td>-->
        <!--<td th:text="${prod.inStock}? #{true} : #{false}">yes</td>-->
    <!--</tr>-->


</table>
<p>
    <a th:href="@{/}">Back</a>
</p>
</body>
</html>
